<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Título</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body>
           
        <header>
           <a href="views/index.ejs"><h1>NATIFLIX</h1></a> 
        </header>
        <nav>
            <form action="/filmes" id="formulario" method="GET"> 
                <input type="text" placeholder="Digite o nome do filme..."name="nomeDoFilme" id="nomeDoFilme">
                <br>
                <button type="submit" value="Buscar" onclick="">Buscar</button>
            </form>
            <section>
                <img src="<%= DadosFilmes.Poster %>"> 
                <div class="card">
                    
                    <p> Nome: <%=DadosFilmes.Title %> </p>
                    <p> Ano: <%= DadosFilmes.Year %> </p>
                    <p> Duração: <%= DadosFilmes.Runtime %> </p>
                    <p> Gênero: <%= DadosFilmes.Genre %> </p>
                    <p> Website: <%= DadosFilmes.Website %></p>
                        
                </div>
            </section>
        </nav>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../app.js"></script>        
    </body>
</html>